* {
  font-family: "Quicksand", sans-serif;
}
.AllHomePage {
  display: flex;
  flex-direction: column;
}
.AllHomePage .navbar {
  display: flex;
  flex-direction: row;
}
.AllHomePage .navbar nav {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
  justify-items: center;
}
.AllHomePage .navbar ul {
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

/*.AllHomePage .navbar img {
    height: 50px;
    width: 50px;
  
    text-align: center;
  }
  .AllHomePage .navbar .logo {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }*/

.AllHomePage .navbar .logo img {
  max-width: 100%;
  height: auto;
}
.AllHomePage .navbar .right-item {
  display: flex;
  align-items: center;
}
.AllHomePage .navbar .right-item img {
  margin-left: auto;
}
.AllHomePage .navbar ::before {
  content: "";
  /*background: url(https://images.unsplash.com/photo-1571902943202-507ec2618e8f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1075&q=80)
        no-repeat center center/cover;*/
  background-color: rgb(225, 225, 225);
  position: absolute;
  top: 0px;
  left: 0px;
  height: 80px;
  width: 100%;
  z-index: -1;
  opacity: 0.1;
}
.AllHomePage .navbar ul button {
  padding: 5px 5px;
  margin: 5px 5px;
  border-style: none;
  border-right: 2px solid black;
  background: transparent;
}
.AllHomePage .navbar ul li {
  list-style: none;
  margin: 0 25px;
  font-size: 1.4rem;
}
.AllHomePage .navbar ul li a {
  text-decoration: none;
  text-align: center;
  margin: 5px 29px;
  padding: 5px 5px;

  position: relative;
  color: rgb(37, 37, 37);
}

.AllHomePage .navbar ul li :hover {
  background-color: white;
  color: black;
  text-decoration: underline;
  border-radius: 10px;
  transition: all 0.5s ease;
}
.AllHomePage .Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  line-height: 1.5;
}
.AllHomePage .Container h1 {
  text-align: center;
  color: black;
}
.AllHomePage .Container .aboutUs {
  margin-bottom: 32px;
  color: rgb(75, 75, 75);
}
.AllHomePage .Container .factSheet {
  display: flex;
  flex-direction: column;
  margin: 5px 5px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.AllHomePage .Container .factSheet h2 {
  color: rgb(0, 0, 0);
  font-size: 15px;
}
.AllHomePage .Container .factSheet .box {
  display: flex;
  flex-direction: row;
  padding: 15px 15px;
  margin: 15px 15px;
  list-style: none;
  width: 95%;
  border-bottom: 2px solid black;
  justify-content: center;
  align-items: center;
}
.AllHomePage .Container .factSheet .box .leftInFactSheet {
  margin-right: 15px;
}
.AllHomePage .Container .factSheet .box .leftInFactSheet li {
  margin-top: 15px;
  margin-right: 25px;
  color: rgb(75, 75, 75);
}
.AllHomePage .Container .factSheet .box .rightInFactSheet {
  margin-right: 15px;
}
.AllHomePage .Container .factSheet .box .rightInFactSheet li {
  margin-top: 15px;
  margin-left: 25px;
  color: rgb(75, 75, 75);
}
.AllHomePage .Container .factSheet .box1 {
  display: flex;
  flex-direction: row;
  padding: 15px 15px;
  margin: 15px 15px;
  width: 95%;
  justify-content: center;
  align-items: center;
  list-style: circle;

  border-bottom: 2px solid black;
}
.AllHomePage .Container .factSheet .box1 .leftInBox1 {
  margin-right: 15px;
}
.AllHomePage .Container .factSheet .box1 .leftInBox1 li {
  margin-top: 15px;
  margin-right: 25px;
  color: rgb(75, 75, 75);
}
.AllHomePage .Container .factSheet .box1 .rightInBox1 {
  margin-right: 15px;
}
.AllHomePage .Container .factSheet .box1 .rightInBox1 li {
  margin-top: 15px;
  margin-left: 25px;
  color: rgb(75, 75, 75);
}
.AllHomePage .Container .factSheet .box2 {
  display: flex;
  flex-direction: row;
  padding: 15px 15px;
  margin: 15px 15px;
  list-style: none;
  width: 95%;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
}
.AllHomePage .Container .factSheet .box2 .leftInBox2 {
  margin-right: 15px;
}
.AllHomePage .Container .factSheet .box2 .leftInBox2 li {
  margin-top: 15px;
  margin-right: 25px;
  color: rgb(75, 75, 75);
}
.AllHomePage .Container .factSheet .box2 .rightInBox2 {
  margin-right: 15px;
}
.AllHomePage .Container .factSheet .box2 .rightInBox2 li {
  margin-top: 15px;
  margin-left: 25px;
  color: rgb(75, 75, 75);
}
.AllHomePage .Container .whyUs {
  margin-top: 25px;
  color: rgb(75, 75, 75);
}
.AllHomePage .Container .whyUs p,
li,
h2 {
  color: rgb(75, 75, 75);
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  background-color: rgb(18, 130, 211);
  position: relative;
  width: 100%;
  color: white;
}
footer .nameContact {
  margin-right: 15px;
  margin-top: 15px;
}
footer .nameContact img {
  display: inline-block;
}
footer .socialMediaLinks {
  margin-right: 15px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .socialMediaLinks li {
  list-style: none;
}
footer .socialMediaLinks li a {
  text-decoration: none;
  color: white;
  padding: 9px 12px;
  margin: 5px 5px;
}
footer .socialMediaLinks li a:hover {
  background-color: rgb(18, 130, 211);
  color: black;
  text-decoration: underline;
  border-radius: 5px;
  transition: all 0.5s ease;
}
footer .address {
  margin-right: 15px;
  margin-top: 15px;
}
